.card {
    text-align: center;
    margin: 3px;
    box-sizing: content-box;
    width: 200px;
    height: 175px;
    padding: 30px;
    border: solid;
    background-color: rgb(177, 207, 205);
    float: left;
}

.image {
    border: solid;
    background-color: white;
}